.assistant-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100svh - $navbarHeight);
    overflow: auto;
    padding: 16px;

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - $navbarHeight + 28px));

        .spinner-border {
            width: 8rem;
            height: 8rem;
            border-width: 0.75em;
        }
    }

    .dropdown-menu-assistant {
        max-height: 350px;
        overflow: auto;
        width: max-content;
    }

    .assistant-chat-wrapper {
        width: calc(100vw - $padding-mobile);
        height: 100%;
        border: $thinBorder;
        box-shadow: $shadow;
        padding: 16px 16px 70px 16px;
        position: relative;
        border-radius: $normal-radius;
        background-color: $bg-white;
        display: flex;
        flex-direction: column;
        overflow: auto;

        @media (min-width: $breakpoint-xl) {
            width: calc($max-width * 2);
        }

        .chat-prompt {
            display: flex;
            justify-content: flex-end;
            gap: 4px;
            animation: fadeIn 225ms ease-in-out both;

            .chat-prompt-text {
                border-radius: $inner-radius;
                border: $thinBorder;
                padding: 4px 8px;
                margin-bottom: 12px;
                background-color: $logo-color-4;
                width: max-content;
                max-width: 70%;
                cursor: pointer;
                transition: all 225ms ease-in-out;

                &:hover {
                    background-color: $logo-color-2;
                    color: $txt-light;
                }
            }

            .chat-prompt-image {
                width: 34px;
                height: 34px;
                object-fit: cover;
                border-radius: 100%;
            }
        }

        .chat-response {
            display: flex;
            justify-content: flex-start;
            gap: 4px;

            .chat-response-text {
                border-radius: $inner-radius;
                border: $thinBorder;
                padding: 4px 8px;
                text-align: start;
                margin-bottom: 12px;
                width: max-content;
                max-width: 70%;
                min-height: 34px;
                display: flex;
                align-items: center;
            }

            .chat-response-image {
                width: 34px;
                height: 34px;
                object-fit: cover;
                border-radius: 100%;
            }

            .spinner-grow {
                height: 15px;
                width: 15px;
            }
        }

        .chat-input {
            position: fixed;
            display: flex;
            gap: 8px;
            margin-left: auto;
            margin-right: auto;
            left: 32px;
            right: 32px;
            bottom: 16px;
            padding: 4px 0 16px 0;
            background-color: rgba(255, 255, 255, 0.8);

            @media (min-width: $breakpoint-xl) {
                width: calc($max-width * 2 - 32px);
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
            }

            button {
                border-radius: 100%;
            }
        }
    }
}
