.assistant-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100svh - $navbar-height);
    overflow: auto;
    padding: 16px;

    .dropdown-menu-assistant {
        max-height: 350px;
        overflow: auto;
        width: max-content;
    }

    .assistant-chat-wrapper {
        width: calc(100vw - $padding-mobile);
        height: 100%;
        border: $thin-border;
        box-shadow: $shadow;
        padding: 16px 16px 70px 16px;
        position: relative;
        border-radius: $normal-radius;
        background-color: $bg-light;
        display: flex;
        flex-direction: column;
        overflow: auto;

        @media (min-width: $breakpoint-lg) {
            max-width: calc(100vw - $padding-desktop);
        }

        @media (min-width: $breakpoint-xl) {
            max-width: calc(100vw - $padding-desktop-xl);
        }

        .chat-prompt {
            display: flex;
            justify-content: flex-end;
            gap: 4px;
            animation: fadeIn 225ms ease-in-out both;

            .chat-prompt-text {
                border-radius: $inner-radius;
                border: $thin-border;
                padding: 4px 8px;
                margin-bottom: 12px;
                background-color: $logo-color-4;
                width: max-content;
                max-width: 70%;
                cursor: pointer;
                transition: all 225ms ease-in-out;

                &:hover {
                    background-color: $logo-color-2;
                    color: $txt-light;
                }
            }

            .chat-prompt-image {
                width: 34px;
                height: 34px;
                object-fit: cover;
                border-radius: 100%;

                @media (max-width: $breakpoint-xxs) {
                    width: 28px;
                    height: 28px;
                }
            }
        }

        .chat-response {
            display: flex;
            justify-content: flex-start;
            gap: 4px;

            .chat-response-text {
                border-radius: $inner-radius;
                border: $thin-border;
                padding: 4px 8px;
                text-align: start;
                margin-bottom: 12px;
                width: max-content;
                max-width: 70%;
                min-height: 34px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .chat-response-image {
                width: 34px;
                height: 34px;
                object-fit: cover;
                border-radius: 100%;

                @media (max-width: $breakpoint-xxs) {
                    width: 28px;
                    height: 28px;
                }
            }

            .spinner-grow {
                height: 15px;
                width: 15px;
            }
        }

        .chat-input {
            position: fixed;
            display: flex;
            gap: 8px;
            margin-left: auto;
            margin-right: auto;
            left: 32px;
            right: 32px;
            bottom: 16px;
            padding: 4px 0 16px 0;
            background-color: rgba(255, 255, 255, 0.8);

            @media (min-width: $breakpoint-lg) {
                width: calc(100vw - $padding-desktop - 32px);
            }

            @media (min-width: $breakpoint-xl) {
                width: calc(100vw - $padding-desktop-xl - 32px);
            }

            button {
                border-radius: 100%;
            }
        }
    }
}
