.dashboardPage-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    height: 100%;
    overflow: auto;
    padding: 16px 10px 70px 10px;

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - $navbarHeight));

        .spinner-border {
            width: 8rem;
            height: 8rem;
            border-width: 0.75em;
        }
    }

    @media (min-width: 768px) {
        padding: 50px 50px;
    }

    .dashboard-tile {
        position: relative;
        width: calc(100vw - $padding-mobile);
        background-image: $bg-glass;
        border-radius: $normal-radius;
        box-shadow: $glass-shadow;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 18px;

        &:hover {
            cursor: pointer;
        }

        @media (min-width: 768px) {
            width: 67%;
        }

        .tile-title {
            color: $txt-light-dark;
        }

        .tile-event {
            display: flex;
            flex-direction: row;
            gap: 8px;
            font-size: 1rem;
            font-weight: 300;
            color: $txt-dark;
            padding: 8px 0;
            border-bottom: $thinBorder;

            &:last-of-type {
                border-bottom: transparent;
            }

            .event-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 90px;
                color: $txt-grey;

                .event-left-time {
                    font-size: 0.8rem;
                    text-align: center;
                }
            }

            .event-right {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-grow: 1;
            }
        }

        .tile-item {
            display: flex;
            flex-direction: row;
            gap: 8px;
            font-size: 1rem;
            font-weight: 300;
            color: $txt-dark;
            padding: 8px 0;
            border-bottom: $thinBorder;

            &:last-of-type {
                border-bottom: transparent;
            }

            .item-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 90px;

                .category {
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    font-size: 0.7rem;
                    font-weight: 300;
                    color: $txt-light;
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px 8px 4px 8px;
                }
            }

            .item-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;

                .item-title {
                    max-width: 180px;
                }

                .item-user {
                    color: $txt-grey;
                    font-size: 0.8rem;
                }
            }
        }
    }

    .tile-journal {
        .tile-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            align-items: center;

            .tile-title-balance {
                font-weight: 400;
                font-size: 1.1rem;
            }
        }

        .tile-title-month {
            color: $txt-grey;
            font-weight: 300;
            font-size: 0.8rem;
        }
    }

    .tile-motivation {
        cursor: default !important;

        .motivation-text {
            font-size: 1rem;
            font-weight: 300;
            color: $txt-grey;
            font-style: italic;
            margin: 0;
        }
    }

    .tile-empty-text {
        font-size: 1rem;
        font-weight: 300;
        color: $txt-grey;
    }
}
