@import 'bootstrap/scss/bootstrap.scss';
@import 'list.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.iconClickable {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.pointer {
    cursor: pointer;
}

.thinBorder {
    border: 1px solid #dee2e6;
}

.centeredVertical {
    display: flex;
    align-items: center;
}

.width130 {
    width: 130px;
}
