@import 'bootstrap/scss/bootstrap.scss';
@import 'primereact/resources/themes/bootstrap4-light-blue/theme.css';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';
@import 'fonts.scss';
@import 'variables.scss';
@import 'dashboard.scss';
@import 'list.scss';
@import 'journal.scss';
@import 'calendar.scss';
@import 'navbar.scss';
@import 'login.scss';
@import 'profile.scss';
@import 'legal.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: $txt-light-dark;
    background-color: $logo-color-6;
}

.page-container {
    height: 100svh;
    overflow: hidden;
}

.iconClickable {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.pointer {
    cursor: pointer;
}

.thinBorder {
    border: 1px solid #dee2e6;
}

.centered-vertical {
    display: flex;
    align-items: center;
}

.centeredHorizontal {
    display: flex;
    justify-content: center;
}

.elementRight {
    display: flex;
    justify-content: flex-end;
}

.spaceBetween {
    justify-content: space-between;
}

.widthFull {
    width: 100%;
}

.widthHalf {
    width: 48%;
}

.width210 {
    width: 210px;
}

.width130 {
    width: 135px;
}

.width108 {
    width: 108px;
}

.width80 {
    width: 80px;
}

.slideIn-alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: slideIn 250ms ease-out;
    z-index: 9999;
}

.slideOut-alert {
    animation: slideOut 250ms ease-in;
}

.checkbox-btn {
    width: 87px;
    height: 38px;
    transition: all 125ms ease-in-out;
}

.color-picker {
    height: 38px;
}

.input-error {
    transition: all 150ms ease-in-out;

    &:focus {
        border: 1px solid #ee4c5c;
        box-shadow: 0 0 0 0.2rem #e96875;
    }

    &:not(:focus) {
        background-color: rgba(238, 76, 92, 0.5);
    }
}

.input-checked {
    transition: all 150ms ease-in-out;

    &:focus {
        border: 1px solid #2e8e40;
        box-shadow: 0 0 0 0.2rem #5ab86b;
    }

    &:not(:focus) {
        background-color: rgba(74, 211, 99, 0.5);
    }
}

.password-check-label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 8px;
}

.safe {
    font-size: 0.8rem;
    font-weight: 300;
    color: #5ab86b;
}

.unsafe {
    font-size: 0.8rem;
    font-weight: 300;
    color: #e96875;
}

.not-allowed {
    opacity: 0.5;
}

//Bootstrap overrides
.spinner-grow {
    background-color: $logo-color-3;
}

.text-secondary {
    color: $logo-color-3 !important;
}

.modal-backdrop,
.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal-backdrop.show,
.offcanvas-backdrop.show {
    opacity: 1;
}

.dropdown-menu {
    background-color: $bg-white;
    box-shadow: $glass-shadow;
    border-radius: $normal-radius;
    border: transparent;
    padding-left: 8px;
    padding-right: 8px;

    .dropdown-item {
        border-radius: $inner-radius;
        margin-top: 2px;
        margin-bottom: 2px;
        color: $txt-light-dark;

        &:hover {
            background-color: $logo-color-4;
        }
    }
}

.form-control {
    border: $thinBorder;

    &::placeholder {
        font-weight: 300;
        color: $txt-light-grey;
    }
}

.input-group {
    border: $blue-border;
    border-radius: $normal-radius;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
}

.btn {
    border-radius: $normal-radius;
    border: none;
}

// primary button //
.btn-primary {
    background-color: $logo-color-3;
    border: none;
    color: $txt-light;

    &:active {
        background-color: $logo-color-5;
    }

    &:hover {
        background-color: $logo-color-5;
    }

    &:disabled {
        background-color: $logo-color-4;
    }
}

.btn-primary:not(.show) {
    &:active {
        background-color: $logo-color-3;
        color: $txt-light;
    }
}

.btn-outline-primary {
    background-color: $bg-light;
    border: $blue-border;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-4;
        border: $blue-border;
        color: $txt-grey;
        border: 1px solid transparent;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: $logo-color-4;
        border: $blue-border;
        color: $txt-grey;
        border: 1px solid transparent;
    }

    &:active {
        background-color: $logo-color-4;
        border: $blue-border;
        color: $txt-grey;
        border: 1px solid transparent;
    }
}

.btn-outline-primary.show {
    background-color: $logo-color-4;
    border: 1px solid transparent;

    &:active {
        background-color: $logo-color-4;
        border: $blue-border;
        color: $txt-grey;
        border: 1px solid transparent;
    }
}

.btn-outline-primary:not(.show) {
    color: $txt-grey;

    &:active {
        background-color: $logo-color-4;
        border: $blue-border;
        color: $txt-grey;
        border: 1px solid transparent;
    }
}

// secondary button //
.btn-secondary {
    background-color: $logo-color-3;
    border: none;

    &:hover {
        background-color: $logo-color-3;
    }

    &:focus {
        background-color: $logo-color-3;
    }

    &:active {
        background-color: $logo-color-3;
    }
}

.btn-secondary:not(.show) {
    &:active {
        background-color: $logo-color-3;
        color: $txt-light;
    }

    &:focus {
        background-color: $logo-color-3;
        color: $txt-light;
    }
}

.btn-outline-secondary {
    background-color: transparent;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-3;
        color: $txt-light;
    }
    &:focus {
        background-color: $logo-color-3;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-3;
        color: $txt-light;
    }
}

.btn-outline-secondary.show {
    background-color: $logo-color-3;
    color: $txt-light;

    &:hover {
        background-color: $logo-color-3;
        color: $txt-light;
    }
    &:focus {
        background-color: $logo-color-3;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-3;
        color: $txt-light;
    }
}

.btn-outline-secondary:not(.show) {
    background-color: transparent;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-3;
        color: $txt-light;
    }

    &:focus {
        background-color: $logo-color-3;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-3;
        color: $txt-light;
    }
}

//PrimeReact overrides
.p-component {
    font-family: 'Poppins', sans-serif;
}

.p-dropdown-items {
    padding-left: 0;
}

.p-tooltip {
    font-size: 0.7rem;
    font-weight: 300;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}
