@import 'bootstrap/scss/bootstrap.scss';
@import 'primereact/resources/themes/bootstrap4-light-blue/theme.css';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';
@import 'fonts.scss';
@import 'variables.scss';
@import 'dashboard.scss';
@import 'list.scss';
@import 'journal.scss';
@import 'calendar.scss';
@import 'assistant.scss';
@import 'navbar.scss';
@import 'login.scss';
@import 'profile.scss';
@import 'legal.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: $txt-light-dark;
    background-color: $logo-color-6;
}

.page-container {
    height: 100svh;
    overflow: hidden;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-border {
        width: 8rem;
        height: 8rem;
        border-width: 0.75em;
    }
}

.icon-clickable {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.icon-instruction {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-grey-midlight;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-left: 4px;
}

.pointer {
    cursor: pointer;
}

.thin-border {
    border: 1px solid #dee2e6;
}

.space-between {
    justify-content: space-between;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 48%;
}

.width-210 {
    width: 210px;
}

.width-130 {
    width: 130px;
}

.width-108 {
    width: 108px;
}

.width-80 {
    width: 80px;
}

.centered-vertical {
    display: flex;
    align-items: center;
}

.centered-horizontal {
    display: flex;
    justify-content: center;
}

.slide-in-alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: slideIn 250ms ease-out;
    z-index: 2222;
}

.slide-out-alert {
    animation: slideOut 250ms ease-in;
}

.input-error {
    transition: all 150ms ease-in-out;

    &:focus {
        border: 1px solid #ee4c5c;
        box-shadow: 0 0 0 0.2rem #e96875;
    }

    &:not(:focus) {
        background-color: rgba(238, 76, 92, 0.5);
    }
}

.input-checked {
    transition: all 150ms ease-in-out;

    &:focus {
        border: 1px solid #2e8e40;
        box-shadow: 0 0 0 0.2rem #5ab86b;
    }

    &:not(:focus) {
        background-color: rgba(74, 211, 99, 0.5);
    }
}

.password-check-label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 8px;
}

.safe {
    font-size: 0.8rem;
    font-weight: 300;
    color: #5ab86b;
}

.unsafe {
    font-size: 0.8rem;
    font-weight: 300;
    color: #e96875;
}

.not-allowed {
    opacity: 0.5;
    pointer-events: none;
}

.spend {
    color: $txt-spend !important;
}

.income {
    color: $txt-income !important;
}

//Bootstrap overrides
.spinner-grow {
    background-color: $logo-color-5;
}

.ls-1 {
    animation: spinner-grow-1 1000ms ease-in-out infinite;
}

.ls-2 {
    animation: spinner-grow-2 1000ms ease-in-out infinite;
}

.ls-3 {
    animation: spinner-grow-3 1000ms ease-in-out infinite;
}

.text-secondary {
    color: $logo-color-5 !important;
}

.modal {
    z-index: 3333;

    .modal-dialog {
        @media (min-width: $breakpoint-xs) {
            margin-top: calc($navbar-height + 8px);
        }
    }
}

.modal-backdrop,
.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal-backdrop.show,
.offcanvas-backdrop.show {
    opacity: 1;
}

.modal-content {
    border: none;
}

.dropdown-menu {
    background-color: $bg-white;
    box-shadow: $glass-shadow;
    border-radius: $normal-radius;
    border: transparent;
    padding-left: 8px;
    padding-right: 8px;
    width: 90%;

    .dropdown-item {
        border-radius: $inner-radius;
        margin-top: 2px;
        margin-bottom: 2px;
        color: $txt-light-dark;
        text-wrap: wrap;

        &:hover {
            background-color: $logo-color-4;
        }
    }
}

.form-control {
    border: $blue-border;
    border-radius: $normal-radius;

    &::placeholder {
        font-weight: 300;
        color: $txt-light-grey;
    }

    &:disabled {
        background-color: $bg-disabled;
    }
}

.input-group {
    border: $blue-border;
    border-radius: $normal-radius;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
}

.btn {
    border-radius: $normal-radius;
    border: none;
}

// primary button //
.btn-primary {
    background-color: $logo-color-1;
    border: 1px solid transparent;
    color: $txt-light;

    &:active {
        background-color: $logo-color-5;
    }

    &:hover {
        background-color: $logo-color-5;
    }

    &:disabled {
        background-color: $logo-color-4;
        border: 1px solid $logo-color-4;
    }
}

.btn-primary:not(.show) {
    &:active {
        background-color: $logo-color-1;
        color: $txt-light;
    }
}

.btn-outline-primary {
    background-color: $bg-light;
    border: $blue-border;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-4;
        color: $txt-grey;
        border: 1px solid $logo-color-4;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: $logo-color-4;
        color: $txt-grey;
        border: 1px solid $logo-color-4;
    }

    &:active {
        background-color: $logo-color-4;
        color: $txt-grey;
        border: 1px solid $logo-color-4;
    }
}

.btn-outline-primary.show {
    background-color: $logo-color-4;
    border: 1px solid $logo-color-4;

    &:active {
        background-color: $logo-color-4;
        color: $txt-grey;
        border: 1px solid $logo-color-4;
    }
}

.btn-outline-primary:not(.show) {
    color: $txt-grey;

    &:active {
        background-color: $logo-color-4;
        color: $txt-grey;
        border: 1px solid $logo-color-4;
    }
}

// secondary button //
.btn-secondary {
    background-color: transparent;
    color: $txt-blue;
    border: $blue-border;

    &:hover {
        background-color: $logo-color-5;
        color: $txt-light;
    }

    &:focus {
        background-color: $logo-color-5;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-5;
        color: $txt-light;
    }

    &:disabled {
        background-color: $logo-color-4;
        color: $txt-light;
        border: 1px solid transparent;
    }
}

.btn-secondary.show {
    background-color: transparent;
    color: $txt-blue;
    border: $blue-border;

    &:active {
        background-color: $logo-color-5;
        color: $txt-light;
        border: $blue-border;
    }
}

.btn-secondary:not(.show) {
    &:hover {
        background-color: $logo-color-5;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-5;
        color: $txt-light;
    }

    &:focus {
        background-color: $logo-color-5;
        color: $txt-light;
    }
}

.btn-outline-secondary {
    background-color: transparent;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-1;
        color: $txt-light;
    }
    &:focus {
        background-color: $logo-color-1;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-1;
        color: $txt-light;
    }
}

.btn-outline-secondary.show {
    background-color: $logo-color-1;
    color: $txt-light;

    &:hover {
        background-color: $logo-color-1;
        color: $txt-light;
    }
    &:focus {
        background-color: $logo-color-1;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-1;
        color: $txt-light;
    }
}

.btn-outline-secondary:not(.show) {
    background-color: transparent;
    color: $txt-grey;

    &:hover {
        background-color: $logo-color-1;
        color: $txt-light;
    }

    &:focus {
        background-color: $logo-color-1;
        color: $txt-light;
    }

    &:active {
        background-color: $logo-color-1;
        color: $txt-light;
    }
}

// button danger
.btn-danger {
    background-color: $danger;
    color: $txt-light;
    border: 1px solid $danger;
}

//PrimeReact overrides
.p-component {
    font-family: 'Poppins', sans-serif;
}

.p-dropdown-panel {
    background-color: $bg-white;
    box-shadow: $glass-shadow;
    border-radius: $normal-radius;
    border: transparent;
    padding-left: 8px;
    padding-right: 8px;

    .p-dropdown-items {
        padding-left: 0;

        .p-dropdown-item {
            border-radius: $inner-radius;
            margin-top: 2px;
            margin-bottom: 2px;
            color: $txt-light-dark;

            &:hover {
                background-color: $logo-color-4;
            }
        }

        .p-highlight {
            color: $txt-light;
            background-color: $logo-color-1;

            &:hover {
                background-color: $logo-color-1;
            }
        }
    }
}

.p-tooltip {
    font-size: 0.7rem;
    font-weight: 300;
}

// global animations
.fade-effect {
    animation: fadeIn 225ms ease-in-out forwards;
}

.slide-effect {
    animation: slideInFromRight 225ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scaleY(0.5);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes spinner-grow-1 {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
}

@keyframes spinner-grow-2 {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
}

@keyframes spinner-grow-3 {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%) rotate(-180deg);
    }
    100% {
        transform: translateX(0);
        rotate: 0;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loading {
    0% {
        background-color: $bg-white;
        box-shadow: 0px 4px 20px 0px $bg-white;
    }
    50% {
        background-color: $logo-color-2;
        box-shadow: 0px 4px 20px 0px $logo-color-2;
    }
    100% {
        background-color: $bg-white;
        box-shadow: 0px 4px 20px 0px $bg-white;
    }
}
