.journal-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
    height: 100%;
    overflow: auto;
    padding: 70px 16px 100px 16px;

    .journal-page-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 28px;

        @media (min-width: $breakpoint-xl) {
            flex-direction: row;
        }
    }

    @media (min-width: $breakpoint-lg) {
        padding: 100px 80px;
    }

    @media (min-width: $breakpoint-xl) {
        padding: 100px 160px;
    }

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - $navbarHeight));

        .spinner-border {
            width: 8rem;
            height: 8rem;
            border-width: 0.75em;
        }
    }

    .journal-toolbar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        .input-group {
            border: none;
            flex-wrap: nowrap;

            button {
                &:last-of-type {
                    border-left: none;
                }

                &:first-of-type:hover {
                    border-right: 1px solid $logo-color-4;
                }

                &:first-of-type:focus {
                    border-right: 1px solid $logo-color-4;
                }

                @media (max-width: 410px) {
                    padding: 6px 9px;
                    width: auto;
                }
            }
        }

        .new-data-button {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 10px;
                width: 20px;
                height: 20px;
            }

            @media (max-width: 410px) {
                height: 38px;

                span {
                    display: none;
                }

                img {
                    margin-left: 0;
                }
            }
        }
    }

    .journal-tile {
        position: relative;
        width: calc(100vw - $padding-mobile);
        background-color: $bg-light;
        border-radius: $normal-radius;
        box-shadow: $glass-shadow;
        padding: 24px 16px;
        color: $txt-light-dark;

        @media (min-width: $breakpoint-sm) {
            max-width: $max-width;
        }

        .journal-title {
            margin-bottom: 16px;
        }
    }

    .journal-chart {
        flex-direction: column;
        min-height: 344px;

        .p-chart {
            animation: fadeIn 100ms ease-in-out;
            width: 100%;
            height: 250px;
        }

        @media (min-width: $breakpoint-xl) {
            max-width: calc($max-width * 2 + 28px);
        }
    }

    .p-accordion {
        border: $thinBorder;
        border-radius: $inner-radius;
        background-color: transparent;
        padding: 0;
        width: 100%;
        overflow: hidden;

        .p-accordion-tab-active {
            .p-accordion-header-link {
                background-color: $logo-color-6;
            }
        }

        .p-disabled {
            opacity: 1;

            .p-accordion-toggle-icon {
                opacity: 0;
            }

            .p-accordion-header-link {
                background-color: $logo-color-6;
                border-bottom: none;
            }
        }

        .p-accordion-header-link {
            border: none;
            border-bottom: $thinBorder;
            background-color: $bg-light;
            text-decoration: none;
            color: $txt-dark;
            font-weight: 500;
            height: 61px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .accordion-header-sum {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                @media (max-width: $breakpoint-xxs) {
                    gap: 5px;

                    .accordion-header-text {
                        max-width: 70px;
                        word-break: normal;
                    }
                }

                .sum-text {
                    font-size: 1.1rem;
                    font-weight: 600;

                    @media (max-width: $breakpoint-xxs) {
                        font-size: 0.9rem;
                    }
                }
            }

            @media (max-width: $breakpoint-xxs) {
                padding: 8px 10px;
                font-size: 0.9rem;
            }
        }

        .p-accordion-content {
            border-left: none;
            border-right: none;

            @media (max-width: $breakpoint-xxs) {
                padding: 8px 10px;
                font-size: 0.8rem;
            }

            .journal-detail-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 0px;
            }

            .list-group {
                border-bottom: $thinBorder;
                padding-left: 7px;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    .journal-table {
        .p-datatable-header {
            border: none;
            background-color: $logo-color-6;
            border-top-left-radius: $inner-radius;
            border-top-right-radius: $inner-radius;
            border-left: $thinBorder;
            border-right: $thinBorder;

            @media (max-width: $breakpoint-xxs) {
                padding: 16px 8px;
            }

            .journal-search-icon {
                position: absolute;
                top: 50%;
                margin-top: -0.5rem;
                left: 0.75rem;
                opacity: 0.5;
            }

            .journal-searchbar {
                outline: none;
                width: 220px;
                border: $thinBorder;
                border-radius: $inner-radius;

                &::placeholder {
                    color: $txt-light-grey;
                }

                @media (max-width: $breakpoint-xxs) {
                    width: 80%;
                }
            }

            .journal-csv-icon {
                width: 42px;
                height: 42px;
                border-radius: 100%;
                background-color: $logo-color-1;
                border: 1px solid $logo-color-1;
                flex-shrink: 0;

                &:hover {
                    background-color: $logo-color-5;
                }
            }
        }

        .p-datatable-wrapper {
            border-left: $thinBorder;
            border-right: $thinBorder;
            border-bottom: $thinBorder;
            border-bottom-left-radius: $inner-radius;
            border-bottom-right-radius: $inner-radius;

            .p-sortable-column {
                padding: 10px 8px;

                &:hover {
                    background-color: $logo-color-6;
                }

                @media (max-width: $breakpoint-xxs) {
                    padding: 10px 5px;

                    svg {
                        display: none;
                    }
                }
            }

            tr {
                &:hover {
                    background-color: $logo-color-6;
                }
            }

            td {
                padding: 10px;

                @media (min-width: $breakpoint-md) {
                    padding: 16px;
                }

                @media (max-width: $breakpoint-xxs) {
                    padding: 10px 5px;
                }

                @media (max-width: 320px) {
                    max-width: 70px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            @media (max-width: $breakpoint-xs) {
                font-size: 0.9rem;
            }

            @media (max-width: $breakpoint-xxs) {
                font-size: 0.8rem;
            }
        }

        .p-paginator-bottom {
            border: none;
            border-bottom-left-radius: $inner-radius;
            border-bottom-right-radius: $inner-radius;
            padding: 12px 0px;
            row-gap: 8px;

            .p-paginator-first,
            .p-paginator-last,
            .p-paginator-prev,
            .p-paginator-next,
            .p-paginator-page {
                color: $logo-color-1;
            }

            .p-highlight {
                color: $txt-light;
                background-color: $logo-color-1;
                border: 1px solid $logo-color-1;
            }
        }

        .p-datatable-row-expansion > td {
            padding: 0;
            cursor: default;
        }

        .journal-detail-table {
            padding: 0;
            margin: 0;

            td,
            th {
                font-size: 0.8rem;
                background-color: $logo-color-6;
            }

            td {
                color: $txt-dark;
                border: none;
            }

            .td-info {
                width: 170px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (max-width: $breakpoint-xxs) {
                    width: 100px;
                }

                @media (max-width: 320px) {
                    max-width: 70px;
                }
            }

            .journal-table-edit {
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 320px) {
                    max-width: 90px;
                }

                .journal-table-edit-icon {
                    width: 25px;
                    height: 25px;
                    color: $txt-dark;
                    opacity: 0.4;
                }
            }
        }
    }
}

#journalNewRef,
#journalEditRef {
    #amount,
    #editAmount {
        text-align: center;

        &::-webkit-inner-spin-button {
            display: none;
        }
        &::-webkit-outer-spin-button {
            display: none;
        }

        &::placeholder {
            transform: translateX(-8px);
        }
    }

    .form-input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input-group {
        flex-wrap: nowrap;
        border: none;
    }

    .date-input-group {
        flex-wrap: nowrap;
        border: none;

        button {
            &:last-of-type {
                border-left: none;
            }

            &:first-of-type:hover {
                border-right: 1px solid $logo-color-4;
            }

            &:first-of-type:focus {
                border-right: 1px solid $logo-color-4;
            }
        }
    }

    .form-row {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
    }

    .dropdown-menu-journal {
        max-height: 350px;
        overflow: auto;

        .subcategory {
            pointer-events: none;
            background-color: $bg-grey-mid;
            color: $txt-light;
            height: 22px;
            padding: 0px 16px;
            font-weight: 300;
        }
    }

    .countBadge {
        span {
            color: $txt-grey;
            font-size: 0.8rem;
        }
        transform: translate(16px, 25px);
    }
}

.spend {
    color: $txt-spend !important;
}

.income {
    color: $txt-income !important;
}
