.journalPage-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    overflow: auto;
    padding: 90px 50px;

    .journalToolbar {
        position: absolute;
        top: 12px;
        right: 0;
        padding: 12px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        .newData-button {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 10px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

#newJournalData {
    #amount {
        &::-webkit-inner-spin-button {
            display: none;
        }
        &::-webkit-outer-spin-button {
            display: none;
        }
    }

    .form-row {
        display: flex;
        justify-content: space-around;
    }

    .spend {
        background-color: rgb(255, 159, 159);
    }

    .income {
        background-color: rgb(157, 222, 157);
    }

    .dropdown-menu-journal {
        max-height: 180px;
        overflow: auto;

        .subcategory {
            pointer-events: none;
            border-bottom: $thinBorder;
            background-color: rgba(100, 100, 100, 0.3);
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
