.journalPage-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    overflow: auto;
    padding: 90px 50px;

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - $navbarHeight));

        .spinner-border {
            width: 8rem;
            height: 8rem;
            border-width: 0.75em;
        }
    }

    .journalToolbar {
        position: absolute;
        top: 12px;
        right: 0;
        padding: 12px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        .newData-button {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 10px;
                width: 20px;
                height: 20px;
            }
        }
    }
}

#newJournalData {
    #amount {
        &::-webkit-inner-spin-button {
            display: none;
        }
        &::-webkit-outer-spin-button {
            display: none;
        }
    }

    .form-input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input-group {
        flex-wrap: nowrap;
    }

    .form-row {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
    }

    .spend {
        background-color: #ff9f9f;
    }

    .income {
        background-color: #9dde9d;
    }

    .dropdown-menu-journal {
        max-height: 180px;
        overflow: auto;

        .subcategory {
            pointer-events: none;
            border-bottom: $thinBorder;
            background-color: rgba(100, 100, 100, 0.3);
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
