.scroll-container {
    height: 100svh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.imprint-container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        gap: 64px;
    }

    @media (max-height: $breakpoint-sm) {
        justify-content: flex-start;
    }

    .logo {
        animation: slideInFromLeft 1s ease-in-out;
        object-fit: cover;

        @media (max-width: $breakpoint-md) {
            width: 50%;
        }

        @media (max-width: $breakpoint-sm) {
            width: 60%;
        }

        @media (max-width: $breakpoint-xs) {
            width: 70%;
        }
    }
}

.close-icon {
    position: fixed;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

a {
    color: $txt-blue;

    @media (max-width: $breakpoint-xxs) {
        word-break: break-all;
    }
}

.data-protection-container {
    padding: 48px 160px;

    @media (max-width: $breakpoint-md) {
        padding: 48px 80px;
    }
    @media (max-width: $breakpoint-sm) {
        padding: 48px 40px;
    }
    @media (max-width: $breakpoint-xs) {
        padding: 48px 20px;
    }

    @media (max-width: $breakpoint-xxs) {
        word-break: break-all;
    }

    h1 {
        @media (max-width: $breakpoint-xxs) {
            font-size: 24px;
        }
    }
}
