$maxWidth: 550px;

.newInput {
    max-width: $maxWidth;
}

.itemContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;

    .category {
        font-size: 0.7rem;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        padding: 5px 8px 4px 8px;
    }

    .title {
        padding-left: 4px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #595959;
    }

    .line-through {
        text-decoration: line-through;
        padding-left: 4px;
        font-size: 1.3rem;
        font-weight: 300;
        color: #949494;
    }
}

.itemSubDescription {
    padding-left: 4px;
    font-size: 0.7rem;
    font-weight: 400;
    color: #7f7f7f;
}

.itemClickable {
    transition: all 125ms ease-in-out;
    max-width: $maxWidth;
    &:hover {
        background-color: rgba(200, 200, 200, 0.1);
    }

    .label {
        width: 100%;
    }
}

.checkbox {
    appearance: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: all 250ms ease-in-out;
        box-shadow: inset 1em 1em #ffffff;
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked {
        border: 1px solid #2fac50;
        background-color: #2fac50;
    }

    &:checked::before {
        transform: scale(1.4);
    }
}

.itemAmount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    gap: 4px;
    z-index: 2 !important;

    .amountTitle {
        font-size: 0.7rem;
        font-weight: 400;
        color: #7f7f7f;
    }

    .amountAdjust {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .amountArrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .arrow {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

//colors for categories

.Lebensmittel {
    background-color: #cc435a;
}

.Haushalt {
    background-color: #418dcf;
}

.Hygiene {
    background-color: #4a9872;
}

.Schule {
    background-color: #4298a0;
}

.Hund {
    background-color: #a47248;
}

.Sonstiges {
    background-color: #9e689e;
}
