$maxWidth: 550px;
$thinBorder: 1px solid #d9d9d9;
$shadow: 0px 4px 20px 0px rgba(119, 119, 119, 0.3);

.newList-button {
    position: absolute;
    top: 80px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }
}

.listContainer {
    border: $thinBorder;
    box-shadow: $shadow;
    padding: 18px !important;
    position: relative;
    border-radius: 8px;
    max-width: $maxWidth;
    background-color: #ffffff;
}

.listMenu {
    position: absolute;
    top: 20px;
    right: 10px;

    .menuIcon {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.listHeader {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    max-width: $maxWidth;

    .sortLabel {
        font-size: 0.9rem;
        font-weight: 400;
        color: #7f7f7f;
        padding-right: 8px;
    }

    .sortOptions {
        width: 120px;
        padding: 3px 5px 1px 8px;
        font-size: 0.9rem;
        cursor: pointer;

        &:focus {
            border: $thinBorder;
            outline: none;
            box-shadow: none;
        }
    }
}

.newInput {
    max-width: $maxWidth;

    .textInput {
        &:focus {
            border: $thinBorder;
            outline: none;
            box-shadow: none;
        }
    }
}

.itemContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;

    .category {
        font-size: 0.7rem;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        padding: 5px 8px 4px 8px;
    }

    .title {
        padding-left: 4px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #595959;
    }

    .line-through {
        text-decoration: line-through;
        padding-left: 4px;
        font-size: 1.3rem;
        font-weight: 300;
        color: #949494;
    }
}

.itemSubDescription {
    padding-left: 4px;
    font-size: 0.7rem;
    font-weight: 400;
    color: #7f7f7f;
}

.itemClickable {
    padding-left: 32px;
    overflow: hidden;
    transition: all 125ms ease-in-out;
    max-width: $maxWidth;
    &:hover {
        background-color: rgba(200, 200, 200, 0.1);
    }

    .label {
        width: 100%;
    }
}

.checkbox {
    appearance: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: transparent;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: all 250ms ease-in-out;
        box-shadow: inset 1em 1em #ffffff;
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked {
        border: 1px solid #2fac50;
        background-color: #2fac50;
    }

    &:checked::before {
        transform: scale(1.4);
    }
}

.itemAmount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 20px;
    width: 130px;
    gap: 4px;
    z-index: 2 !important;

    .amountTitle {
        font-size: 0.7rem;
        font-weight: 400;
        color: #7f7f7f;
    }

    .amountAdjust {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .amountArrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .arrow {
            width: 3rem;
            height: 3rem;
            opacity: 0.2;
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }

        .arrow-disabled {
            width: 3rem;
            height: 3rem;
            opacity: 0.05;
            cursor: default;
        }
    }
}

.itemPriority {
    position: absolute;
    top: -12px;
    left: -15px;
    width: 50px;
    height: 30px;
    transform: rotate(-37deg);
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.red {
    background-color: #ff4866b2;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #ff92a4b2;
}

//colors for categories

.Lebensmittel {
    background-color: #cc435a;
}

.Haushalt {
    background-color: #418dcf;
}

.Hygiene {
    background-color: #4a9872;
}

.Schule {
    background-color: #4298a0;
}

.Hund {
    background-color: #a47248;
}

.Sonstiges {
    background-color: #9e689e;
}
