.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 24px;

    @media (max-height: $breakpoint-md) {
        justify-content: flex-start;
    }

    .login-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        transform: translate(0, $offsetY-login);
        overflow-y: auto;

        @media (max-height: $breakpoint-md) {
            transform: translate(0, 0);
            padding: 32px 0;
            justify-content: flex-start;
        }

        .login-header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            @media (max-width: $breakpoint-xxs) {
                flex-direction: column;
            }

            img {
                width: 100px;
                object-fit: cover;
                -webkit-filter: drop-shadow($shadow-logo);
                filter: drop-shadow($shadow-logo);
            }

            span {
                font-size: 3rem;
                font-weight: 600;
                text-shadow: $shadow-logo;
                background-image: $txt-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .spinner-border {
            width: 8rem;
            height: 8rem;
            border-width: 0.75em;
        }

        .spinner-border-small {
            width: 1rem;
            height: 1rem;
            border-width: 0.2em;
        }

        .login-form {
            width: calc(100vw - 24px);
            background-color: $bg-light;
            padding: 2rem;
            border-radius: 5px;
            box-shadow: $shadow;

            @media (min-width: $breakpoint-xs) {
                width: 400px;
            }

            .form-group {
                margin-bottom: 1rem;
                label {
                    display: block;
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 100%;
                    padding: 0.5rem;
                    border: $medium-border;
                    border-radius: $input-radius;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &::placeholder {
                        color: $txt-light-grey;
                    }
                    &:disabled {
                        background-color: $bg-dirty;
                    }
                }
            }

            .login-btn {
                width: 100%;
                padding: 0.75rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .login-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            .links {
                color: $txt-grey;
                transition: all 125ms ease-in-out;
                text-decoration: none;

                &:hover {
                    color: $txt-dark;
                }
            }
        }
    }
}
