.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    gap: 24px;
    overflow-y: auto;

    @media (max-height: $breakpoint-md) {
        justify-content: flex-start;
    }

    .spinner-border-small {
        width: 1rem;
        height: 1rem;
        border-width: 0.2em;
    }

    .login-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        transform: translateY($offsetY-login);

        @media (max-height: $breakpoint-md) {
            transform: translateY(calc($offsetY-login / -2));
            padding: 32px 0;
            justify-content: flex-start;
        }

        @media (max-height: $breakpoint-xxs) {
            padding: 0 0 32px 0;
        }

        .login-header {
            transform: translateX(-7px);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            @media (max-width: $breakpoint-xxs) {
                transform: translateX(0);
                flex-direction: column;
            }

            @media (max-height: $breakpoint-xxs) {
                display: none;
            }

            img {
                width: 100px;
                object-fit: cover;
                -webkit-filter: drop-shadow($shadow-logo);
                filter: drop-shadow($shadow-logo);
            }

            span {
                font-size: 3rem;
                font-weight: 600;
                text-shadow: $shadow-logo;
                background-image: $txt-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .login-form {
            width: calc(100vw - $padding-mobile);
            background-color: $bg-light;
            border-radius: $normal-radius;
            box-shadow: $glass-shadow;
            padding: 32px 32px 16px 32px;

            @media (min-width: $breakpoint-xs) {
                width: 400px;
            }

            .form-group {
                margin-bottom: 1rem;

                label {
                    display: block;
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 100%;
                }
            }

            .login-button-box {
                align-items: center;

                @media (max-width: $breakpoint-xxxs) {
                    flex-direction: column;
                }

                .login-btn {
                    width: 100%;
                    padding: 0.75rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1rem;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }

            .signup-text {
                margin-top: 16px;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 8px;

                @media (max-width: $breakpoint-xxs) {
                    flex-direction: column;
                    gap: 4px;
                }

                a {
                    color: $txt-blue;
                    text-decoration: none;

                    &:hover {
                        color: $txt-dark-blue;
                    }

                    @media (max-width: $breakpoint-xxs) {
                        word-break: keep-all;
                    }
                }
            }

            label {
                display: flex !important;
                flex-direction: column;

                .signup-input-info {
                    font-size: 0.7rem;
                    opacity: 0.7;
                }
            }

            .input-group {
                border: none;
            }
        }

        .login-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            .links {
                color: $txt-grey;
                transition: all 125ms ease-in-out;
                text-decoration: none;

                &:hover {
                    color: $txt-dark;
                }
            }
        }
    }
}

.signup-container {
    @media (max-height: $breakpoint-xl) {
        justify-content: flex-start;
    }

    .login-wrapper {
        @media (max-height: $breakpoint-xl) {
            transform: translateY(calc($offsetY-login / -2));
            padding: 16px 0;
            justify-content: flex-start;
        }
    }
}
