@import './variables.scss';

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 24px;

    .login-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        transform: translateY(-100px);

        img {
            width: 100px;
            object-fit: cover;
            filter: drop-shadow(10px 20px 20px rgba(119, 119, 119, 0.3));
        }

        span {
            font-size: 3rem;
            font-weight: 600;
            text-shadow: 10px 20px 20px rgba(119, 119, 119, 0.3);
        }
    }

    .login-form {
        width: 400px;
        background-color: #fff;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: $shadow;
        transform: translateY(-100px);

        .form-group {
            margin-bottom: 1rem;
            label {
                display: block;
                margin-bottom: 0.5rem;
            }

            input {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ced4da;
                border-radius: 5px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                }
            }
        }

        .login-btn {
            width: 100%;
            padding: 0.75rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .login-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        transform: translateY(-100px);

        .links {
            color: rgba(0, 0, 0, 0.5);
            transition: all 125ms ease-in-out;

            &:hover {
                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}
