$navbarHeight: 56px;

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbarHeight;
    padding: 0 1rem;
}

.listPage-container {
    height: calc(100svh - $navbarHeight);
    background-color: #fafafa;
    overflow: hidden;

    .listPage-wrapper {
        display: grid;
        gap: 48px;
        padding: 90px 50px;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        grid-auto-rows: 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        overflow: auto;
    }
}
