@import './variables.scss';

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbarHeight;
    padding: 0 1rem;
}

.listPage-container {
    height: calc(100svh - $navbarHeight);
    background-color: $bg-color;
    overflow: hidden;
}

.userProfile-container {
    height: calc(100svh - $navbarHeight);
    background-color: $bg-color;
    overflow: hidden;
}
