.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;
    padding: 0 1rem;

    .offcanvas {
        width: 440px;
        background-color: transparent;
        background-color: $bg-light;
        border: none;

        @media (max-width: $breakpoint-xs) {
            width: 100vw !important;
        }
    }

    .dropdown-menu-offcanvas {
        @media (max-width: $breakpoint-xs) {
            width: calc(100vw - 48px) !important;
        }
    }

    .offcanvas-body {
        padding: 24px;
    }

    .bg-navbar {
        background-color: $bg-light;
        box-shadow: $shadow;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        gap: 4px;

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0;
            background-image: $txt-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .navbar-logo-img {
            width: 40px;
            height: 38px;
        }
    }

    .navbar-menu-icon {
        transition: all 125ms ease-in-out;
        &:hover {
            border: 1px solid #969696;
        }

        &:focus {
            border: $thin-border;
            outline: none;
            box-shadow: none;
        }
    }

    .offcanvas-user {
        display: flex;
        align-items: center;
        gap: 12px;

        .offcanvas-image {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
        }

        .offcanvas-title {
            display: flex;
            font-size: 1.3rem;

            @media (max-width: $breakpoint-xxs) {
                flex-direction: column !important;
            }

            .title-greeting {
                flex-shrink: 0;
                margin-right: 8px;
            }

            .title-name {
                max-width: 270px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @media (max-width: $breakpoint-xxs) {
                    width: calc(100vw - 32px - 90px - 12px);
                }
            }
        }
    }

    .nav-item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        width: max-content;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 3px;
            display: block;
            height: 2px;
            width: 100%;
            background-color: transparent;
            transform: scaleX(0);
            transform-origin: left;
        }

        &:hover {
            .nav-link {
                color: rgba(0, 0, 0, 1);
            }
            img {
                opacity: 1;
            }
            &::after {
                transition: all 500ms ease-in-out !important;
                background-color: rgba(0, 0, 0, 0.3);
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        img {
            width: 25px;
            transform: translateY(-1px);
            opacity: 0.5;
        }

        .dropdown-menu {
            position: absolute;
            left: 0;
            right: 0;
            width: 191%;
            font-size: 1.2rem;
        }
    }

    .active {
        pointer-events: none;

        .nav-link {
            color: rgba(0, 0, 0, 1);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 3px;
            display: block;
            height: 2px;
            width: 100%;
            transform: scaleX(1);
            transform-origin: left;
            background-color: rgba(0, 0, 0, 0.3);
        }

        img {
            opacity: 1;
        }
    }

    .nav-divider {
        opacity: 0.1;
    }
}
