.profile-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 90px 50px;

    .profile-content {
        width: $maxWidth;
        border: $thinBorder;
        box-shadow: $shadow;
        padding: 18px;
        position: relative;
        border-radius: 8px;
        background-color: #ffffff;

        .profile-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            background-color: #ffffff;
        }

        .image-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 146px;
            height: 146px;
            border-radius: 100%;
            background-color: transparent;
            box-shadow: $shadow;
        }

        .profile-image-circle {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 0;
        }

        .profile-image-circle-hover {
            background-color: transparent;
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 125ms ease-in-out;

            img {
                opacity: 0;
                width: 25px;
                transition: all 125ms ease-in-out;
            }

            &:hover {
                background-color: #96969666;

                img {
                    opacity: 0.7;
                }
            }
        }

        .uploading-image {
            animation: loading 1s infinite linear;
        }

        input {
            &:disabled {
                background-color: #fafafa;
            }
        }
    }

    .profile-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }

    @keyframes loading {
        0% {
            background-color: #ffffff;
            box-shadow: 0px 4px 20px 0px #ffffff;
        }
        50% {
            background-color: #0dcaf0;
            box-shadow: 0px 4px 20px 0px #0dcaf0;
        }
        100% {
            background-color: #ffffff;
            box-shadow: 0px 4px 20px 0px #ffffff;
        }
    }
}

@media (max-width: 480px) {
    .profile-wrapper {
        padding: 20px;
    }
}
