/* colors */
$bg-main: #fafafa;
$bg-white: #ffffff;
$bg-grey-light: rgba(109, 118, 126, 0.1);
$bg-grey-midlight: rgba(109, 118, 126, 0.3);
$bg-grey-mid: rgba(109, 118, 126, 0.6);
$bg-grey: rgb(109, 118, 126);
$txt-dark: rgb(34, 38, 42);
$txt-grey: rgba(34, 38, 42, 0.7);
$txt-light: #fefefe;
$txt-spend: #ff9f9f;
$txt-income: #9dde9d;
$holidayColor: #a3dda3;
$publicHolidayColor: #d89393;

/* shadows */
$shadow: 0px 4px 20px 0px rgba(119, 119, 119, 0.3);

/* borders */
$thinBorder: 1px solid rgba(217, 217, 217, 0.5);
$mediumBorder: 1px solid rgba(217, 217, 217, 0.8);

/* dimensions */
$navbarHeight: 56px;
$maxWidth: 550px;
