/* background colors */
$bg-white: #ffffff;
$bg-dirty: rgba(250, 250, 250, 0.5);
$bg-grey-light: rgba(109, 118, 126, 0.1);
$bg-grey-midlight: rgba(109, 118, 126, 0.3);
$bg-grey-mid: rgba(109, 118, 126, 0.6);
$bg-grey: rgb(109, 118, 126);
$bg-glass: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
$bg-glass-navbar: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
$bg-glass-menu: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
$holiday-color: #a3dda3;
$publicHoliday-color: #d89393;
$error-color: #e43d3d;
$bs-blue: rgb(13, 110, 253);
$chart-green: rgba(111, 224, 135, 0.7);
$chart-red: rgba(252, 108, 108, 0.6);
$priority: rgba(255, 72, 102, 0.7);
$priority-light: rgba(255, 72, 102, 0.3);

/* text colors */
$txt-dark: rgb(34, 38, 42);
$txt-grey: rgba(34, 38, 42, 0.7);
$txt-light-grey: rgba(34, 38, 42, 0.4);
$txt-light: #fefefe;
$txt-spend: rgb(255, 159, 159);
$txt-income: rgba(60, 193, 89, 0.7);

/* shadows */
$shadow: 0px 4px 20px 0px rgba(119, 119, 119, 0.3);
$shadow-light: 0px 4px 20px 0px rgba(119, 119, 119, 0.2);
$glass-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);

/* borders */
$thinBorder: 1px solid rgba(217, 217, 217, 0.5);
$mediumBorder: 1px solid rgba(217, 217, 217, 0.8);
$normal-radius: 16px;

/* dimensions */
$navbarHeight: 56px;
$max-width: 550px;
$padding-mobile: 32px;
